.App {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: 15% 75% auto;
}

html, body {
  /* background-image: url("../Images/Zion2017.jpg"); */
  background: linear-gradient(to bottom, rgb(213, 246, 250), rgb(144, 203, 211));
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Personal Information */
.coverInfo {
  	color: black;
  	letter-spacing: -1px;
    opacity: .7;
}
.coverInfo h1 {
  margin: 10px;
}
.coverInfo p {
  margin: 10px;
}

/* Menu */
.navigationMenu {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 4;
}

.navigationMenu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  /* background-color: blue; */
}

.navigationMenu li {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.navigationMenu li:hover {
  background-color: rgb(34, 150, 185);
}

/* Grid area for Projects/Photos */
.personalSpace {
  text-align: center;
  margin: 5%;
}


