.App {
  margin: auto;
  display: grid;
}

html, body {
  /* background-image: url("../Images/Zion2017.jpg"); */
  background: linear-gradient(to bottom, rgb(180, 202, 205), rgb(87,133,139));
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

/* Personal Information */
.coverInfo {
  /* position: relative; */
  	color: black;
  	letter-spacing: -1px;
    opacity: .7;
}
.coverInfo h1 {
  margin: 10px;
}
.coverInfo p {
  margin: 10px;
}

/* Menu */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  /* background-color: blue; */
}

.menu li {
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.menu li:hover {
  background-color: #111;
}



/* Grid area for Projects/Photos */
.personalSpace {
  display: grid;
  text-align: center;
  margin: 5%;
}


