/* Page Wide Styles */
html {
  height: 100%;
}

body {
  /* background-image: url("../Images/Zion2017.jpg"); */
  background: white;
  min-height: 100%;
}

/* App Container */
.App {
  display: grid;
  grid-gap: 1em;
  grid-auto-rows: minmax(50, auto);
  grid-template-columns: repeat(9, 1fr);
}

/* Personal Information Header */
.coverInfo {
    grid-column: 2 /  4;
    grid-row: 1;
    padding: 0 10px 0 10px;
    border-bottom: 5px solid #6497b1;
}
.coverInfo h1 {
  color: #6497b1;
  text-decoration: underline;
  margin: 10px;
}
.coverInfo p {
  opacity: .7;
  margin: 10px;
}

/* Navigation Menu */
.navigationMenu {
  grid-column: 7 / 9;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigationMenu ul {
  flex-direction: row;
  list-style-type: none;
  overflow: hidden;
  /* background-color: blue; */
}

.navigationMenu li {
  font-size: 5vw;
  font-size: 20px;
  color : #005b96;
  margin: 0 10px 0 10px;
  text-align: center;
  text-decoration: none;
}

.navigationMenu a:link {
  color: #03396c;
}

.navigationMenu a:visited {
  color: #03396c;
}

.navigationMenu li:hover {
  background-color: #6497b1;
}

.active {
  font-weight: bold;
}

/* Component Styles for Pages */

/* Default for route not found */
.route-not-found{
  grid-row: 2;
  grid-column: 2/8;
  text-align: center;
  font-size: 24px;
}

/* Home Component */
.home-container {
  grid-row: 2;
  grid-column: 2/9;
}

.home-container p {
  text-align: center;
}

/* Interests Component */
.interests {
  grid-row: 2;
  grid-column: 2/9;
}

/* Projects Componet */
.projects-container {
  grid-row: 2;
  grid-column: 2/9;

}

.projects-contianer h1 {
  text-align: center;
}

.project {
  padding: 1em;
  border-bottom: 5px double slategray;
}

.project-links {
  /* display: flex;
  flex-direction: row; */
  list-style-type: none;
  align-content: center;
}

.project-links li {
  text-decoration: none;
}

/* Minimun Classes */
.center {
  text-align: center;
}

